.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef; 
}

.stage {
  cursor: var(--cursor);
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  background: #ffffff; 
}