NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=3000
API_PREFIX=0
PROD_DB_HOST=test.com
PROD_DB_PORT=5432
PROD_DB_USER=
PROD_DB_PASSWORD=
PROD_DB_NAME=
PROD_PORT=80
PROD_FRONTEND_URL=https://test.com